
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

.container {
}

.calendar-container {
  position: relative;
  width: 450px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.calendar-container header {
  background: #f2711c;
  color: #fff;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
}

.day {
  font-size: 3em;
  font-weight: 100;
  line-height: 1em;
}

.month {
  font-size: 2em;
  line-height: 1em;
  text-transform: lowercase;
}

.time-section {
  display: flex;
  justify-content: center;
  align-items: center;

  .time {
    font-size: 2em;
  }
}


.calendar {
  background: #fff;
  color: #555;
  display: inline-block;
  padding: 1em;
  width: 100%;
}

.calendar thead {
  color: #f2711c;
  font-weight: 700;
  text-transform: uppercase;
}

.calendar td {
  padding: 0.5em 1em;
  text-align: center;
}

// .calendar tbody td:hover {
//   background: #cacaca;
//   color: #fff;
// }

.current-day {
  background: #f2711c;
  color: #fff;
}

.prev-month,
.next-month {
  color: #cacaca;
}

.ring-left,
.ring-right {
  position: absolute;
  top: 192px;
}

.ring-left {
  left: 2em;
}
.ring-right {
  right: 2em;
}

.ring-left:before,
.ring-left:after,
.ring-right:before,
.ring-right:after {
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3),
    0 -1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(0, 0, 0, 0.2);
  content: '';
  display: inline-block;
  margin: 8px;
  height: 32px;
  width: 8px;
}
