@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("tff");
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}
#root {
  height: 100%;
}
.header__component {
  height: 70px;
  background-color: #232323;
  color: rgba(255, 255, 255, 0.65);
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header__component-logo {
  font-size: 1.1rem;
  font-weight: 300;
}
.header__component-logo span {
  font-weight: 400;
}
.header__component-profile {
  display: flex;
  font-size: 1.1rem;
  font-weight: 300;
}
.header__component-icon {
  margin-left: 10px;
  font-size: 1.4rem;
  color: #ffffff;
}
.header__component-delimiter {
  margin: 0 15px;
}
.header__component-logout {
  cursor: pointer;
  margin: 0 0 0 5px;
}
.header__component-logout:hover {
  color: #fff;
}
* {
  box-sizing: border-box;
}
.datetime-picker {
  position: relative;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  border-radius: 4px;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  width: 250px;
  box-sizing: content-box;
  z-index: 100;
}
.datetime-picker .calendar .calendar-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
  min-height: 32px;
  padding: 4px;
}
.datetime-picker .calendar .calendar-nav button {
  background: none;
  border: 0;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.datetime-picker .calendar .calendar-nav button .fa {
  font-size: 18px;
}
.datetime-picker .calendar .calendar-nav button:hover {
  background-color: #f0f0f0;
}
.datetime-picker .calendar .calendar-nav .current-date {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 8px;
  cursor: pointer;
}
.datetime-picker .calendar .calendar-nav .current-date:hover {
  background-color: #f0f0f0;
}
.datetime-picker .calendar .calendar-nav .current-date.disabled {
  cursor: default;
}
.datetime-picker .calendar table {
  display: block;
  margin: 4px;
}
.datetime-picker .calendar table th,
.datetime-picker .calendar table td {
  padding: 0;
}
.datetime-picker .calendar table thead {
  display: block;
  margin: 8px 0 3px;
}
.datetime-picker .calendar table thead tr {
  display: flex;
  flex-wrap: wrap;
}
.datetime-picker .calendar table thead th {
  color: #ff9a19;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 400;
}
.datetime-picker .calendar table tbody {
  display: block;
}
.datetime-picker .calendar table tbody tr {
  display: flex;
  flex-wrap: wrap;
}
.datetime-picker .calendar table tbody tr td {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
}
.datetime-picker .calendar table tbody tr td:hover {
  background-color: #f0f0f0;
}
.datetime-picker .calendar table tbody tr td.prev,
.datetime-picker .calendar table tbody tr td.next,
.datetime-picker .calendar table tbody tr td.disabled {
  color: #dedede;
}
.datetime-picker .calendar table tbody tr td.prev:hover,
.datetime-picker .calendar table tbody tr td.next:hover,
.datetime-picker .calendar table tbody tr td.disabled:hover {
  color: #c5c5c5;
}
.datetime-picker .calendar table tbody tr td.disabled:hover {
  color: #dedede;
  background-color: transparent;
  cursor: not-allowed;
}
.datetime-picker .calendar table tbody tr td.now {
  color: #5cc4ef;
  font-weight: 400;
}
.datetime-picker .calendar table tbody tr td.selected {
  background-color: #5cc4ef;
  color: #fff;
  font-weight: 400;
}
.datetime-picker .calendar table tbody tr td.selected:hover {
  background-color: #53c1ee;
  color: #fff;
}
.datetime-picker .calendar table tbody tr td.selected.start {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.datetime-picker .calendar table tbody tr td.selected.end {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.datetime-picker .calendar table tbody tr td.selected.start.end {
  border-radius: 4px;
}
.datetime-picker .calendar table tbody tr td.between {
  background-color: #f5fbfe;
  border-radius: 0;
}
.datetime-picker .calendar .calendar-days table tbody tr td {
  width: 14.28571429%;
}
.datetime-picker .calendar .calendar-months table tbody tr td {
  width: 33.33333333%;
  height: 40px;
}
.datetime-picker .calendar .calendar-years table tbody tr td {
  width: 25%;
  height: 60px;
}
.datetime-picker .time {
  border-top: 1px solid #efefef;
  padding: 4px;
  display: flex;
  align-items: center;
  position: relative;
}
.datetime-picker .time .show-time {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 14px;
  text-align: center;
  margin: 0 0 0 10px;
}
.datetime-picker .time .show-time .text {
  line-height: 1;
  font-size: 19px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  position: relative;
  z-index: 1;
}
.datetime-picker .time .show-time .separater {
  margin: 0 2px 3px;
  line-height: 1;
}
.datetime-picker .time .sliders {
  flex: 0 1 153px;
  margin-right: 10px;
  max-width: 153px;
}
.datetime-picker .time .sliders .slider-text {
  display: none;
}
.datetime-picker .time .sliders .slider {
  display: flex;
  align-items: center;
  font-size: 11px;
  height: 17px;
  background-image: linear-gradient(to right, #dedede, #dedede);
  background-position: 0 50%;
  background-size: 100% 1px;
  background-repeat: no-repeat;
}
.datetime-picker .time .sliders .slider .handle {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 3px;
  cursor: pointer;
}
.datetime-picker .time .sliders .slider .handle:hover {
  border-color: #b8b8b8;
}
.datetime-picker .time .sliders .slider .handle:focus,
.datetime-picker .time .sliders .slider .handle:active {
  background-color: #5cc4ef;
  border-color: #5cc4ef;
}
.datetime-picker .shortcuts-bar {
  border-bottom: 1px solid #efefef;
  padding: 8px;
}
.datetime-picker .shortcuts-bar .btn {
  border: 0;
  background: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 2px 4px;
  outline: none;
}
.datetime-picker .shortcuts-bar .btn:hover {
  background-color: #f0f0f0;
}
.datetime-picker .shortcuts-bar .btn:last-child {
  float: right;
}
.datetime-picker .shortcuts-bar .btn:not(:first-child) {
  margin-left: 5px;
}
.datetime-range-picker {
  border: 1px solid #dbdbdb;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: content-box;
  z-index: 100;
}
.datetime-trigger {
  position: relative;
}
.datetime-trigger .datetime-picker {
  position: absolute;
  top: 100%;
}
.datetime-range-trigger {
  position: relative;
}
.datetime-range-trigger .datetime-range-picker {
  position: absolute;
  top: 100%;
}
.datetime-picker-popup,
.datetime-range-picker-popup {
  margin-top: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.datetime-picker-popup:before,
.datetime-range-picker-popup:before {
  content: "";
  position: absolute;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  width: 10px;
  height: 10px;
  z-index: -1;
  left: 10px;
  top: -6px;
  transform: rotate(315deg);
}
.main-content {
  height: calc(100% - 110px);
}
.home__container {
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}
.home__container-map {
  width: 60%;
  height: 100%;
  border-right: 2px solid rgba(34, 36, 38, 0.15);
}
.home__container-details {
  position: relative;
  width: 40%;
  height: 100%;
}
.home__container-actions {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}
.home__container-title {
  width: 100%;
  padding: 0 0 12px 0;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}
.home__container-buttons {
  display: flex;
  justify-content: center;
  width: 50%;
}
.home__container-dashboard {
  height: 85%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 35px;
  overflow-y: scroll;
  background-color: #f4f4f4;
}
.home__container .done {
  background-color: #d3d3d3;
}
.home__container .active {
  background-color: #ebebeb;
}
.home__container .event_item-action-container {
  align-self: center;
  padding-right: 10px;
}
.home__container .event_item-action-container .ui.button:hover {
  color: #ffffff !important;
  background-color: #f2711c !important;
}
.not-found-section {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ui.input {
  width: 100%;
}
.login__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: 50%;
}
@media only screen and (min-width: 1000px) {
  .login__container {
    background-image: url("../images/cover_med.jpg");
  }
}
@media only screen and (max-width: 999px) {
  .login__container {
    background-image: url("../images/cover_low.jpg");
  }
}
.login__container .formular__container {
  color: #555555;
  width: 400px;
  min-height: 50%;
  transition: height 400ms;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #fff;
}
@media only screen and (max-width: 500px) {
  .login__container .formular__container {
    width: 100%;
  }
}
.login__container .formular__container-title {
  font-size: 25px;
  display: block;
  line-height: 1.2;
  text-align: center;
}
.login__container .formular__container-content {
  padding: 20px 0;
}
.login__container .formular__container-content input {
  background-color: #f7f7f7;
}
.login__container .formular__container .content-email {
  font-size: 15px;
  font-weight: 500;
  display: block;
  padding: 12px 0;
}
.login__container .formular__container .content-password {
  font-size: 15px;
  font-weight: 500;
  display: block;
  padding: 12px 0;
}
.login__container .formular__container .content-sign-in-btn {
  margin: 20px 0;
}
.login__container .formular__container .content-sign-up {
  display: block;
  padding: 20px 0 0 0;
  text-align: center;
  color: #8f8484;
}
.login__container .formular__container .content-sign-up span:nth-child(2) {
  text-decoration: underline;
  cursor: pointer;
  padding-left: 4px;
}
.login__container
  .formular__container
  .content-sign-up
  span:nth-child(2):hover {
  color: #1b1c1d;
}
.login__container .sign-up-active {
  min-height: 70%;
}
.login__container .sign-with-msg {
  min-height: 75%;
}
.login__container .sign-in-with-error {
  min-height: 55%;
}
.new-event-section {
  display: flex;
  justify-content: center;
}
.new-event-section .form-section {
  width: 50%;
  height: 100%;
  margin-top: 30px;
}
.new-event-section .form-section .location-label {
  display: flex;
  font-size: 1.1rem;
  font-weight: 300;
}
.new-event-section .form-section .location-field .input {
  width: 100%;
}
.new-event-section .form-section .location-field .prompt {
  border-radius: 0.28571429rem;
}
.new-event-section .form-section .selected-location {
  padding-top: 20px;
}
.new-event-section .form-section .event_date .date-label {
  display: flex;
  margin-top: 30px;
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 10px;
}
.new-event-section .form-section .event_date .datetime-trigger {
  display: inline-block;
  width: 100%;
}
.new-event-section .form-section .category-label {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 10px;
}
.new-event-section .form-section .category-select {
  width: 100%;
}
.new-event-section .form-section .event-actions {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.new-event-section .form-section .event_item-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: solid 1px #c1bfbf;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 10px;
}
.new-event-section .form-section .event_item-container:hover {
  background-color: #ebebeb;
}
.new-event-section .form-section .active {
  background-color: #ebebeb;
}
.new-event-section .image-section {
  width: 50%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-event-map {
  width: 100%;
  height: 400px;
  margin-top: 30px;
}
.container-video {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
}
.overlay {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.event-section {
  width: 100%;
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.event-section .title-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.event-section .title-section .title {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "proxima-nova-condensed", Helvetica;
  color: #fff;
  font-size: 35px;
}
.event-section .title-section .header {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}
.event-section .title-section .other-info {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.event-section .title-section .other-info * {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  margin: 0px 10px 0px 10px;
}
.event-section .title-section .buttons {
  display: flex;
}
.event-section .title-section .buttons:first {
  margin-right: 10px;
}
.event-description-section {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: white;
  justify-content: center;
  display: flex;
}
.event-description-section .event-description-section-container {
  width: 1024px;
  display: flex;
  justify-content: space-between;
}
.event-description-section .event-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.event-description-section .event-description .event_item-info-location {
  font-size: 20px;
  margin-bottom: 30px;
}
.event-description-section .event-description .event_item-info-location i {
  margin-right: 10px;
}
.event-description-section .event-description .event_item-info-section {
  display: flex;
  font-size: 17px;
  margin: 10px 0px 10px 0px;
}
.event-description-section
  .event-description
  .event_item-info-section
  .event_item-info-section-label {
  margin-right: 10px;
}
.map-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.map-section .title {
  font-size: 22px;
  color: #9a9a9a;
  margin-bottom: 20px;
}
.map-section .map {
  margin-top: 30px;
  width: 1024px;
  max-height: 400px;
  margin-bottom: 30px;
  overflow: hidden;
}
.weather-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}
.weather-section .title {
  font-size: 22px;
  color: #9a9a9a;
  margin-bottom: 20px;
}
.weather-section .weather-not-allowed {
  width: 1000px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.other-section {
  width: 100vw;
  height: 1000vh;
}
.fetching-data {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.participants-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}
.participants-section .title {
  font-size: 22px;
  color: #9a9a9a;
  margin-bottom: 20px;
}
.participants-section .participants {
  margin-top: 20px;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}
.participants-section .participants .ui.card {
  margin: 1em 1em !important;
}
.my-events_container {
  background-color: #f4f4f4;
  width: 100%;
  min-height: 100%;
}
.my-events__container-title {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: white;
}
.my-events__container-title .my-events,
.my-events__container-title .scheduled-events {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 17px;
  border-bottom: 1px solid #c9c9c9;
}
.my-events-list,
.my-scheduled-events-list {
  width: 50%;
  height: 100%;
  margin: 10px;
}
.text-left {
  text-align: left;
}
.display-flex {
  display: flex;
}
.justify-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.description-label {
  display: flex;
  margin-top: 30px;
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 10px;
}
.description-field {
  max-height: 120px;
}
.event-name-label {
  display: flex;
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 10px;
}
.event_info {
  display: flex;
  flex-direction: row;
}
.event_info .event-organizer-label {
  display: flex;
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 10px;
}
.event_info-title {
  width: 50%;
  padding-right: 5px;
}
.event_info-title .input {
  width: 100%;
}
.event_info-organizer {
  width: 50%;
  padding-left: 5px;
}
.event_info-organizer .input {
  width: 100%;
}
.error-field {
  margin-top: 7px;
  color: #dc2c2c;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-right-10 {
  margin-right: 10px;
}
.form-input-height {
  height: 100px;
}
.form-textarea-height {
  height: 145px;
}
.form-location-height {
  height: 105px;
}
.ui.floating.label {
  display: flex;
}
.gray {
  color: #868484 !important;
}
.gray-background {
  background-color: #868484 !important;
}
.cursor-default {
  cursor: default;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  padding: 0;
}
.calendar-container {
  position: relative;
  width: 450px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.calendar-container header {
  background: #f2711c;
  color: #fff;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
}
.day {
  font-size: 3em;
  font-weight: 100;
  line-height: 1em;
}
.month {
  font-size: 2em;
  line-height: 1em;
  text-transform: lowercase;
}
.time-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-section .time {
  font-size: 2em;
}
.calendar {
  background: #fff;
  color: #555;
  display: inline-block;
  padding: 1em;
  width: 100%;
}
.calendar thead {
  color: #f2711c;
  font-weight: 700;
  text-transform: uppercase;
}
.calendar td {
  padding: 0.5em 1em;
  text-align: center;
}
.current-day {
  background: #f2711c;
  color: #fff;
}
.prev-month,
.next-month {
  color: #cacaca;
}
.ring-left,
.ring-right {
  position: absolute;
  top: 192px;
}
.ring-left {
  left: 2em;
}
.ring-right {
  right: 2em;
}
.ring-left:before,
.ring-left:after,
.ring-right:before,
.ring-right:after {
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3),
    0 -1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(0, 0, 0, 0.2);
  content: "";
  display: inline-block;
  margin: 8px;
  height: 32px;
  width: 8px;
}
.weather {
  width: 1024px;
  height: 300px;
  display: flex;
}
.weather .half {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.weather .half .title {
  font-size: 25px;
  color: #f2711c;
  margin-bottom: 20px;
}
.weather .half .label {
  font-size: 18px;
  color: #9a9a9a;
}
.weather .half .small {
  font-size: 16px;
}
.event_item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid 1px #dfdfdf;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin: 10px 10px 10px 10px;
  background-color: white;
  border-radius: 7px;
}
.event_item-container:hover {
  background-color: #e7e7e7;
}
.event_item-container .event_item-date-day {
  color: #f2711c;
}
.event_item-container .event_item-date-container {
  padding-left: 25px;
}
.event_item-container .event_item-date-day {
  padding-top: 5px;
  font-size: 30px;
  font-weight: 600;
  color: #868484;
}
.event_item-container .event_item-date-month {
  font-size: 14px;
  font-weight: 350;
  color: #868484;
}
.event_item-container .event_item-info-container {
  width: 100%;
  padding-left: 35px;
}
.event_item-container .event_item-info-title {
  font-size: 1.3rem;
  font-weight: 300;
}
.event_item-container .event_item-info-date {
  padding-top: 5px;
  font-size: 14px;
}
.event_item-container .event_item-info-location {
  font-size: 14px;
}
.event_item-container .event_item-info-description {
  padding-top: 8px;
  display: flex;
  align-items: flex-start;
}
.event_item-container .event_item-info-description-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  padding-right: 10px;
}
.event_item-container .event_item-info-description-label span {
  font-weight: 600;
}
.event_item-container .event_item-info-organizer {
  display: flex;
  align-items: flex-start;
}
.event_item-container .event_item-info-organizer-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  padding-right: 10px;
}
.event_item-container .event_item-info-organizer-label span {
  font-weight: 600;
}
.event_item-container .event_item-info-category {
  padding-bottom: 5px;
  display: flex;
  align-items: flex-start;
}
.event_item-container .event_item-info-category-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  padding-right: 10px;
}
.event_item-container .event_item-info-category-label span {
  font-weight: 600;
}
